{% set bgColor = random(['bg-yellow-200', 'bg-pink-500', 'bg-blue-400', 'bg-indigo-400', 'bg-green-400']) %}
<header class="relative max-w-screen-xl py-10 mx-auto mb-6 sm:gap-4 sm:pb-20 md:pt-16 sm:flex">
  <div class="{{bgColor}} absolute top-0 right-0 z-0 w-full pointer-events-none bottom-10 left-1/3 md:max-w-1/3 md:left-1/2 max-w-3/5 md:bottom-20"></div>
  <div class="absolute top-0 bottom-0 right-0 z-0 w-full opacity-50 pointer-events-none lg:top-5 bg-dots max-w-2/3 md:max-w-3/5"></div>
  <div class="relative flex flex-col justify-center w-full">
    {{ include('partials/meta.twig', {date, datetime, readtime}) }}
    <h1 class="relative mt-8 mb-5 text-3xl font-bold md:text-5xl xl:text-6xl md:leading-tight lg:max-w-4/5">{{title}}</h1>
    {{ include('partials/meta-tags.twig', {tags}) }}
  </div>
  {% if thumbnail %}
    <img src="{{thumbnail}}" alt="{{title}}" class="relative hidden sm:block sm:max-w-1/3 lg:mr-16 xl:mr-20" />
  {% endif %}
</header>
